.tasks-component {

}
.tasks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 1%;
  width: 75%;
}
.task-input {
  display: flex;
  background-color: #E2DFD0;
  border-radius: 5px;
  width: 100%;
}
.task-input-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #E2DFD0;
  color: #423825;
  border-radius: 5px;
  font-weight: bold;
  height: 25px;
}
.taskList-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.taskList-item-container {
  display: flex;
  gap: 2rem;
}
.taskList-items {
  display: flex;
  gap: 2rem;
  width: 100%;
}
.remove-task-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E2DFD0;
  color: #423825;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: default;
  width: 60px;
  margin: 1%;
}
.task-item {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: #E2DFD0;
  color: #1f190f;
  border-radius: 5px;
  margin: 1%;
  height: 25px;
  padding-left: 1%;
}
.task-complete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E2DFD0;
  color: #423825;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: default;
  margin: 1%;
  width: 70px;
}
.completed-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}