.spacer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  background-color: #8f8a62;
  height: 35px;
  margin: 0;
  padding: 0;
  padding-right:1%;
}
.header-link {
  font-weight: bold;
  font-size: 22px;
  margin: 8px;
}
.header-link:hover {
  cursor:default;
  font-size: 22.5px;
}
body {
  background-color: #47423a;
  padding: 0;
  margin: 0;
  background-size: cover;
}
.div-separator {
  margin-top: 2%;
  height:2px;
  background-color: black;
}
h1 {
  color: #d87116f1;
  text-align: left;
  font-size: 38px;
  background-color: #362f21;
  padding-top: 0;
  padding-left: 2%;
  margin-top: 0;
}
.centered-h2 {
  text-align: center;
  color: #c0bca1;
}
.footer-text {
  padding-top: 1%;
  font-weight: bold;
  color: #c0bca1;
  font-size: 16px;
}
.black-text {
  color: black
}
.rates-tasks-calendar-container {
  display: grid;
  grid-template-columns: 20% 55% 24%;
  gap: 1%;
}
input {
  display: flex;
  background-color: #E2DFD0;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 50%;
}
button {
  background-color: #47423a;
  color: #E2DFD0;
  border: none;
  font-weight: bold;
  font-size: 15px;
}
.div-button {
  display: flex;
  background-color: #E2DFD0;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 25px;
  font-size: 18px;
}
.bottom-home-container {
display: flex;
flex-direction: row;
justify-content: center;
}