.news-container {
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
  align-items: left;
  flex: 1;
}
.news-item {
  color: #E2DFD0;
}
.news-link {
  color: #E2DFD0;
}
.news-link:hover {
  color:  #d87116f1;
}
.news-link:visited {
  color:  #d87116f1;
}