.input-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  padding-left: 30%;
}

.tasks-container {
    padding-right: 25%;
}

.task-input {
  display: flex;
  background-color: #E2DFD0;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 50%;
}

.task-input-button {
  background-color: #E2DFD0;
  color: #423825;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.taskList-container {
  display: flex;
  flex-direction: column;
  padding-left: 27%;
  padding-right:25%;
}

.taskList-item-container {
  display: grid;
  grid-template-columns: 70px auto 80px;
  gap: 10px;
}

.remove-task-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E2DFD0;
  color: #423825;
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: default;
}

.task-item {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: #E2DFD0;
  color: #1f190f;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.task-complete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E2DFD0;
  color: #423825;
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: default;
}